*, *::before, *::after {
    box-sizing: border-box;
}


.bannersContainer {
    padding-top: 75px;
    background: rgb(255,255,255);
    background: linear-gradient(115deg, rgba(255,255,255,1) 30%, rgba(229,0,18,1) 30%);
    width: 100%;    
}

.bannersContainer img {
    width: 100%;
    height:100%;
}


.bannersContainer .gridContainer1 {
    display: grid;
    gap: 0, 0;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr, 1fr;
}

.topItem1 {
    grid-row: 1/-3;
}

.topItem3 {
    grid-column: 2/-1;
}

.bannersContainer .gridContainer2 {
    display: grid;
    gap: 0, 0;
    grid-template-columns: 1fr 1fr 2fr;
}

.gridItem1 {
    grid-column: 1/2;

}


.gridItem7 {
    grid-column: 1/3;
}

.gridItem8 {
    grid-column: 3/-1;
}

.pickupContainer {
    background-color: black;
    height: 220px;
    overflow: hidden;
}

.pickupImgContainer {
    position: relative;
    left: 25%;
    top: 30%;
    width: 50%;
}

.pickupContainer img {
    background: red;
    z-index: -1;
    transform: scale(1.7);
}

.pickupContainer a {
    text-decoration: none;
}


.pickupTxt {
    display: flex;
    flex-direction: column;
    margin-left: 60%;
    width: 30%;
    position: relative;
    top: -270px;
}

.pickupTitle {
    background-color: #D70000;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
}

.pickupSum {
    background-color: #F8B300;
    color: black;
    font-size: 0.5em;
}

.bottomSum {
    display: flex;
    justify-content: space-between;
}

.pickupDate {
    color: gray;
    font-size: 0.6em;
}

.pickupRead {
    position: relative;
    color: lightgray;
    font-size: 0.6em;
    font-weight: bold;

    &::after {
        content: "";
        top: -9px;
        left: -8px;
        border: 5px solid rgba(0,0,0,0);
        border-bottom: 25px solid #ffdf00;
        transform: rotateZ(4deg);
        padding: 0;
        width: 0;
        height: 0;
        position: absolute;
        margin: 0;
        overflow: visible;
        border-top: 0 solid;
        border-radius: 0;
        transform-origin: 50% 50% 0;
    }
}

.bolt {
    border: 4px solid rgba(0,0,0,0);
  border-bottom: 22px solid #ffdf00;
  transform: rotateZ(90deg);
  padding: 2px;
  width: 0;
  height: 0;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
  
}

.bolt:after {
  content: "";
  top: -9px;
  left: -8px;
  border: 5px solid rgba(0,0,0,0);
  border-bottom: 25px solid #ffdf00;
  transform: rotateZ(4deg);
  padding: 0;
  width: 0;
  height: 0;
  position: absolute;
  margin: 0;
  overflow: visible;
  border-top: 0 solid;
  border-radius: 0;
  transform-origin: 50% 50% 0;
}