*, *::before, *::after {
    box-sizing: border-box;
}


.footerContainer {
    display: flex;
    background: rgb(248,179,0);
    background: linear-gradient(110deg, rgba(248,179,0,1) 35%, rgba(229,0,18,1) 35%);
    width: 100%;
    height: 113px;
}