*, *::before, *::after {
    box-sizing: border-box;
}



.headerContainer {
    position: fixed;
    display: flex;
    background: rgb(255,255,255);
    background: linear-gradient(115deg, rgba(255,255,255,1) 28%, rgba(229,0,18,1) 28%);
    width: 100%;
    height: 75px;
    z-index: 9999;
}



.headerContainer img {
    width:100%;

}

.headerContainer .logoImg {
    width: 45%;
    padding: 20px;
    
}

.headerContainer ul {
    display: flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
}


.headerContainer ul img {
    width: 70%;
    
}

.headerContainer .shopImg {
    width: 30%;
}

.headerContainer .shopImg img {
    height: 75px;
}

/*-------------MOBILE---------------*/

@media (max-width: 700px) {
    .headerContainer {
        display: none;
    }

}