*, *::before, *::after {
    box-sizing: border-box;
}

.newsContainer {
    background-color: white;
    height: 300px;
    overflow: none;
    margin-left: 40px;
    margin-right: 40px;
}

.bolt {
    position: relative;
    content: '';
    background-color: #FDEED1;
    width: 500px;
    height: 300px;
    z-index: 2;
    overflow: none;

    clip-path: polygon(33% 0, 49% 0, 38% 18%, 64% 8%, 39% 100%, 0 100%, 25% 36%, 8% 38%);
}




.newsContainer .newsInner {
    position: relative;
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    z-index: 999;
    top: -300px;
    margin-right: 50px;
}

.newsContainer .newsInner img {
    width: 13em;
    height: 100%;
    margin-left: 50px;
    
}

.newsList {
    display: flex;
    flex-direction: column;
    margin-right: 50px;
}

.newsList a {
    text-decoration:none;
}

.readMore {
    display: flex;
    text-align: none;
    font-size: 0.7em;
    color: #e50012;
    text-align: right;
    font-weight: bold;
    justify-content: flex-end;
    

    &:hover {
        text-decoration: underline;
    }
}



.newsItem {
    display: flex;
    margin-bottom: 10px;

}

.articleDate {
    padding-right: 10px;
    font-size: 0.8em;
}

.articleTag {
    color: white;
    display: inline;
    width: 40px;
    background-color: #e50012;
    padding-left: 8px;
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    font-size: 0.5em;
    position: relative;
    left: 20px;
}

.articleTitle {
    display: inline;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 0.6em;
}

.dateTag {
    display: flex;
    flex-direction: column;
}


/*-------------MOBILE---------------*/

@media (max-width: 700px) {
    .newsContainer {
        background-color: white;
        position: relative;
        top: 30px;
        height: 420px;
        width: 100%;
        overflow: none;
        margin-left: auto;
        margin-right: auto;
        margin-top: -30px;
        z-index: 1;
    }
    
    .backgroundPattern {
        width: 100%;
        height: 100%;;
        background-image:
        linear-gradient(45deg, #ccc 25%, transparent 25%), 
        linear-gradient(135deg, #ccc 25%, transparent 25%),
        linear-gradient(45deg, transparent 75%, #ccc 75%),
        linear-gradient(135deg, transparent 75%, #ccc 75%);
        background-size:2px 2px;
        background-position:0 0, 12.5px 0, 12.5px -12.5px, 0px 12.5px;
        clip-path: polygon(100% 0, 100% 91%, 0 100%, 0 11%);
        z-index: 3;
    }

    .bolt {
        position: absolute;
        content: '';
        background-color: #FDEED1;
        width: 300px;
        height: 420px;
        z-index: -2;
        left: -80px;
        overflow: none;
        clip-path: polygon(10% 43%, 65% 0, 74% 0, 49% 31%, 78% 20%, 32% 100%, 0 100%, 0 76%, 29% 44%);
    }

    .newsContainer .newsInner {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        align-items: center;
        gap: 20px;
        z-index: 999;
        top: 60px;
    }
    
    .newsContainer .newsInner img {
        width: 80%;
        height: 100%;
        margin-left: 0;
        
    }
    
    .newsList {
        display: flex;
        flex-direction: column;
        margin-right: 0;
    }
    
    .newsList a {
        text-decoration:none;
        line-height: 1;
    }
    
    .articleTitle {
        display: inline;
        color: white;
        background-color: black;
        font-weight: bold;
    }

    .readMore {
        display: flex;
        font-size: 0.5em;
        color: #e50012;
        text-align: right;
        font-weight: bold;
        justify-content: center;
        padding: 5px;

    
        &:hover {
            text-decoration: none;
            color: white;
        }
    }

    .readMoreMobile {
        background-color: white;
        border: solid 1px #e50012;
        text-align: center;
        width: 100%;

        &:hover {
            background-color: #e50012;
        }
    }
    
    
    
    .newsItem {
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
    
    }
    
    

    .articleDate {
        padding-right: 10px;
        font-size: 0.6em;
    }
    
    .articleTag {
        color: white;
        display: inline;
        width: 40px;
        background-color: #e50012;
        padding-left: 8px;
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        font-size: 0.5em;
        position: relative;
        left: 0px;
        bottom: 0px;
        margin-bottom: 0px;
    }
    
    .articleTitle {
        display: inline;
        color: white;
        background-color: black;
        font-weight: bold;
        font-size: 0.5em;
    }
    
    .dateTag {
        display: flex;
        flex-direction: row;
    }

}