.pickupContainer {
    background-color: black;
    height: 185px;
    overflow: hidden;
}

.pickupImgContainer {
    position: relative;
    top: -95px;
}

.pickupContainer img {
    z-index: -1;
    clip-path: polygon(17% 15%, 87% 0%, 87% 53%, 17% 63%);
    transform: scale(0.7)
    
}

.pickupContainer a {
    text-decoration: none;
}


.pickupTxt {
    margin-left: 60%;
    width: 35%;
    z-index: 999;
    position: relative;
    top: -490px;
    left: -20px;
}

.pickupTitle {
    display: inline;
    background-color: #D70000;
    font-size: 0.7em;
    color: white;
    font-weight: bold;
}

.pickupSum {
    background-color: #F8B300;
    color: black;
    font-size: 0.5em;
}

.bottomSum {
    display: flex;
    justify-content: space-between;
}

.pickupDate {
    color: gray;
    font-size: 0.6em;
    font-weight: bold;
}

.pickupRead {
    position: relative;
    color: lightgray;
    font-size: 0.6em;
    font-weight: bold;
}


@media (max-width: 700px) {
    .pickupContainer {
        height: 500px;
        padding-bottom: 30px;
    }

    .pickupImgContainer {
        position: relative;
        top: 0;
    }
    
    .pickupContainer img {
        position: relative;
        width: 100%;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        transform: scale(1.3);
        top: 25px;
        left: -30px;
    }

    .pickupTxt {
        top: 55px;
        margin-left: 45px;
        width: 80%;
        z-index: 1;
    }

    .pickupTitle {
        display: inline;
        background-color: #D70000;
        font-size: 0.7em;
        color: white;
        font-weight: bold;
    }
    
    .pickupSum {
        background-color: #F8B300;
        color: black;
        font-size: 0.5em;
    }
    
    .bottomSum {
        display: flex;
        flex-direction: column;
    }
    
    .pickupDate {
        color: gray;
        font-size: 0.6em;
        font-weight: bold;
    }
    
    .pickupRead {
        position: relative;
        color: #e50012;
        font-size: 0.6em;
        font-weight: bold;
    }


    .pickupReadMobile {
        background-color: white;
        border: solid 1px #e50012;
        text-align: center;
        width: 100%;

        &:hover {
            background-color: #e50012;
        }
    }
}