.naviContainer {
    position: fixed;
    left: 0;
    top: 90px;
}

.beako {
    width: 80px;
    height: auto;
    position: fixed;
    bottom: 5px;
}


.naviStyle {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 7px;
    padding: 3px;
}

.titleStyle {
    width: 49px;
    margin-top: 10px;
    border: solid 0.7px white;
    padding: 3px;
    cursor: pointer;
    position: relative;
    text-align: center;

    background: linear-gradient(to left, transparent 50%, #E91926 50%) right;
    background-size: 200%;
    transition: .4s ease-out;

    &:hover {
        background-position: left;
    }

}


.dropdownStyle {
    display: flex;
    flex-direction: column;
    width: 100px;
}

.dropdownStyle a {
    all: unset;
    cursor: pointer;
    font-size: 7px;
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.dropdownStyle a:before {
    content: "";
    display: block;
    position: relative;
    border-top: solid 0.7px white;
    width: 59px;
    padding-bottom: 3px;
}