*, *::before, *::after {
    box-sizing: border-box;
}

.sliderContainer {
    padding-top: 5px;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    overflow: hidden;
}


.imgContainer {
    display: flex;
    justify-self: center;
    transition: transform 0.5s ease;
    cursor: pointer;
    margin-left: 130px;
    margin-right: 50px;
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 40px;
}


.imgContainer img {
    width: 100%;
    height: 100%;
}


button {
    display: flex;
    all: unset;
    position: absolute;
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    top: 0;
    bottom: 0;
    display: block;
    padding-top: 20px;
    z-index: 99;
}



.prevImg{
    position: relative;
    left: -120px;
    opacity: 60%;
    transform: scale(1.3);
}

.nextImg {
    position: relative;
    right: -120px;
    opacity: 60%;
    transform: scale(1.3);
}


.mainImg {
    z-index: 999999;
    transform: scale(1.6);
}


.dotContainer {
    display: flex;
    justify-content: center;
    margin-top: -5px;
}

.dotIndex {
    background-color: darkgray;
    border-radius: 5px;
    width: 1.7%;
    height: 0.8vw;
    border: 1px black;
    border-style: groove;
    margin:2px;
    cursor: pointer;
}


.activeDot {
    background-color: #E91926;
}



@media (max-width: 700px) {
    .sliderContainer {
        padding-top: 35px;
        position: relative;
        margin-bottom: 20px;
        margin-left:10px;
        margin-right: 10px;
        overflow: hidden;
    }

    .leftButton {
        position: absolute;
        margin-left: -100px;
    }

    .imgContainer {
        margin-right: 20px;
        margin-left: 20px;
    }
    
    
    .imgContainer img {
        display: flex;
        width: 100%;
        height: 100%;
    }

    .prevImg{
        position: relative;
        left: -80px;
    }
    
    .nextImg {
        position: relative;
        right: -80px;
    }
    

    .dotContainer {
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
}