.sliderContainer {
    padding-top: 35px;
    position: relative;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 100px;
    margin-right: 30px;
}

.banners {
    width: 81%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    overflow-x:auto;
    scrollbar-color: red;
    user-select: none;
    background-color: rgba(213, 213, 213, .963);
}

.banners::-webkit-scrollbar{
    height: 1px;
    background-color: transparent;
}

.bannerImg {
    scroll-snap-align: start;
    scroll-snap-stop: always;
}