.content {
    text-align: center;
    margin: 0;
}

.content h1 {
    background-color: blue;
    width: 130px;
    display: inline-block;
}

.mainBox {
    background-color: yellow;
    height: 300px;
    width: 600px;
    padding-top: 60px;
    padding-left: 50px;
}